%i.fa.fa-plus-square.fa-2x
- if activity.owner.nil?
  Unknown
- else
  =activity.owner.name
created
- if activity.trackable.nil?
  Boy, who has since been removed
-else
  =activity.trackable.name
-end
%br
=time_ago_in_words(activity.created_at)
ago