%i.fa.fa-pencil-square-o.fa-2x
- if activity.owner.nil?
  Unknown
- else
  =activity.owner.name

updated
=link_to activity.trackable.name, boy_path(activity.trackable.id)
%br
=time_ago_in_words(activity.created_at)
ago