%h1 Templates

- [:fox, :hawk, :lion].each do |rank|
  %h2= rank.to_s.titleize
  %table.table.table-bordered
    %tr
      %th Event
      =render :partial => 'shared/leaf_header'
    = render :partial => @templates[rank]

= link_to 'New Template', new_template_path, :class => "btn btn-primary"
