%h1 Listing requirements

%table
  %tr
    %th.col-md-3 Name
    %th.col-md-3 Badge
    %th.col-md-6 Text

  - @requirements.each do |requirement|
    %tr
      %td= link_to requirement.name, requirement
      %td= requirement.badge.name
      %td= requirement.text

%br

= link_to 'New Requirement', new_requirement_path
