%h1 Listing requirements

%table
  %tr
    %th Name
    %th Text
    %th Badge
    %th
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= link_to requirement.name, requirement
      %td= requirement.text
      %td= requirement.badge.name

%br

= link_to 'New Requirement', new_requirement_path
