%th.center <abbr title='Service Hours'>S</abbr>
%th.center.bg-brown <abbr title='Heritage'>H</abbr>
%th.center.bg-burgundy <abbr title='Life Skills'>L</abbr>
%th.center.bg-yellow <abbr title='Science & Technology'>T</abbr>
%th.center.bg-black <abbr title='Hobbies'>B</abbr>
%th.center.bg-red <abbr title='Values'>V</abbr>
%th.center.bg-green <abbr title='Outdoor Activities'>O</abbr>
%th.center.bg-blue <abbr title='Pioneering Skills'>P</abbr>