%th.center <abbr title='Service Hours'>S</abbr>
%th.center <abbr title='Heritage'>H</abbr>
%th.center <abbr title='Hobbies'>B</abbr>
%th.center <abbr title='Life Skills'>L</abbr>
%th.center <abbr title='Outdoor Activities'>O</abbr>
%th.center <abbr title='Pioneering Skills'>P</abbr>
%th.center <abbr title='Science & Technology'>T</abbr>
%th.center <abbr title='Values'>V</abbr>