.row
  .col-xs-3
    = show_map(@event.location)
  .col-xs-6
    =title @event.name
    .h3= event_dtg(@event)
    %p
      %strong Address:
      =@event.address
    %p
      %strong Description:
      = @event.description
  .col-xs-3
    %table.table
      %tr
        %th{:colspan => 2} Leaves
      = leaf_header(@event)
