=title(@title)

%p.right
  = link_to 'New Event', new_event_path, {class: 'btn btn-primary btn-lg'}

%table.table.table-bordered
  %tr
    %th Event
    %th.text-center Date
    %th.text-center <abbr title='Service Hours'>S</abbr>
    %th.text-center <abbr title='Heritage'>H</abbr>
    %th.text-center <abbr title='Hobbies'>B</abbr>
    %th.text-center <abbr title='Life Skills'>L</abbr>
    %th.text-center <abbr title='Outdoor Activities'>O</abbr>
    %th.text-center <abbr title='Pioneering Skills'>P</abbr>
    %th.text-center <abbr title='Science & Technology'>T</abbr>
    %th.text-center <abbr title='Values'>V</abbr>

  = render :partial => @events