= render :partial => "events/header"

%h2 Roster

%h3 Present

%div#present
  = render :partial => 'attendances/attendance', :collection => @attendees

- if can? :edit, @event      
  %h3 Absent

  %div#absent
    =render :partial => "events/candidates"