= render :partial => "events/header"

%h3 Roster

%h4 Present

%div#present
  = render :partial => 'attendances/attendance', :collection => @attendees

- if can? :edit, @event      
  %h4 Absent

  %div#absent
    =render :partial => "events/candidates"