= title('Packs')

%table.table.table-bordered
  %tr
    %th Name
    %th Location
    %th

  - @packs.each do |pack|
    %tr
      %td= link_to pack.name, pack
      %td= pack.location.address

%br

= link_to 'New Pack', new_pack_path
