%table.table.table-condensed.table-striped
  %tr
    %th.text-centered Name
    %th.text-centered Grade
    %th.text-centered Current Rank
    %th.text-centered &nbsp;
  = render :partial => 'boys/promotee', :collection => @boys