= title("Woodlands Boys")

- unless @foxes.nil?
  %h2 Foxes

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      =render :partial => 'shared/leaf_header'
    =render :partial => @foxes

- unless @hawks.nil?
  %h2 Hawks
  %table.table.table-condensed.table-striped
    %tr
      %th Name
      =render :partial => 'shared/leaf_header'
    =render :partial => @hawks

- unless @lions.nil?
  %h2 Lions
  %table.table.table-condensed.table-striped
    %tr
      %th Name
      =render :partial => 'shared/leaf_header'
    =render :partial => @lions

= link_to 'New Boy', new_boy_path
