.row.valign-wrapper
  .col.s12.m8.valign
    =title("Woodlands Boys")

    %dd
      %dt Note:
      %dd hover your cursor over the heading for a more complete description of the branch.

  .col.s12.m4.valign.right-align
    = link_to micon('add'), new_boy_path, {class: 'btn-floating btn-large waves-effect waves-light'} if can? :create, Boy

- unless @foxes.nil?
  %h2 Foxes

  %table.striped.highlight.bordered
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @foxes

- unless @hawks.nil?
  %h2 Hawks
  %table.striped.highlight.bordered
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @hawks

- unless @lions.nil?
  %h2 Lions
  %table.striped.highlight.bordered
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @lions
