= title("Woodlands Boys")

%p.text-right
  = link_to('New Boy', new_boy_path, :class=> 'btn btn-primary') if can? :create, Boy

- unless @foxes.nil?
  %h2 Foxes

  %table.striped.highlight.dev
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @foxes

- unless @hawks.nil?
  %h2 Hawks
  %table.striped.highlight.dev
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @hawks

- unless @lions.nil?
  %h2 Lions
  %table.striped.highlight.dev
    %thead
      %tr
        %th.col.s4 Name
        =render :partial => 'shared/leaf_header'
    %tbody
      =render :partial => @lions
