/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 * require fullcalendar
 * require fullcalendar.print
 * require bootstrap-datepicker
 */
@import "materialize/materialize";
.dev, .dev td, .dev th {
  border: 1px solid red;
}
strong { font-weight: bold; }
.pagination a li.active {
  color: #fff;
}
.btn {
  @extend .green, .darken-1;
}
.bg-primary {
  @extend .green, .darken-3;
  @extend .white-text;
  padding: 2px;
  a {@extend .white-text; }
}
.odd {
  @extend .grey, .lighten-2;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.candidate {
  padding: 1em;
  margin: 0;
}
html, body {
  height: 100%;
}

html {
  position: relative;
}
.rel {
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: #274251;
  color: #CCC;
  a { color: #CCF }
}

textarea {
  width: 100%;
  min-height: 300px;
}
h2, h3 {
  border-bottom: 1px solid #666;
}
.bonum {
  margin-bottom: 1em;
}

.bg-burgundy {background-color: #652525 !important; color: #FFF !important;}
.bg-red {background-color: #B80000 !important; color: #FFF !important; }
.bg-blue {background-color: #009 !important; color: #FFF !important; }
.bg-green {background-color: #070 !important; color: #FFF !important; }
.bg-yellow {background-color: #770 !important; color: #FFF !important; }
.bg-brown {background-color: #8B4513 !important; color: #FFF !important; }
.bg-black {background-color: #000 !important; color: #FFF !important; }

.heritage { @extend .brown, .lighten-3 }
.hobbies { @extend .grey, .lighten-1 }
.life_skills { @extend .purple, .lighten-4 }
.outdoor_activities { @extend .green, .lighten-4 }
.pioneer_skills { @extend .blue, .lighten-4 }
.sci_tech { @extend .yellow, .lighten-4 }
.values { @extend .red, .lighten-4 }

span.branch {
  display: inline-block;
  min-width: 3rem;
  padding: 3px 6px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 2px;
  &[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
  }
  a {
    color: white !important;
  }
}

dt {
  font-weight: bold;
  display: inline-block;
}