// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
	padding-top: 2em;
}
.flash {
	padding: 1em;
}
.candidate {
	margin-bottom: 0.5em;
}