-# Rails flash messages styled for Bootstrap 3.0


- flash.each do |name, msg|
  - if msg.is_a?(String)
    :javascript
      $(function(){Materialize.toast("#{msg}", 5000, "#{toast_color(name)}");});